img {
    width: 150px;
    height: 150px;
    display: flex;
}

body{
    background-color: black;
}

#especial{
    background-color: dimgray;
    height: 35px;
    justify-content:center;    
}

ol{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.texto{
    color: blanchedalmond;
    margin-left: 80px;
    margin-right: 80px;
}

.top5 {
    width: 200px;
    height: 200px;
    background-color: darkgray;
    border-radius: 10px;
    justify-content:center;
    align-items: center;
    display: flex;
}

.cabecalho {
    text-align: center;
    margin-bottom: 10px;
}

.link {
    margin: 30px;
}

footer{
    justify-content:center;
    align-items: center;
    display: flex;
}

.cima {
    margin-left: 5px;
    margin-right: 35px;
}

.baixo {
    width: 500px;
    height: 25px;
    margin-left: 5px;
    margin-right: 35px;
    justify-content:center;
    align-items: center;
    display: flex;
}
.msg {
    justify-content:center;
    align-items: center;
    display: flex
}

.naoehmsg {
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    display: flex
}

@media (max-width: 1080px) {

    img{
        width: 100px;
        height: 100px;
        display: flex;
    }

    .top5 {
        width: 120px;
        height: 120px;
        background-color: darkgray;
        border-radius: 10px;
        justify-content:center;
        align-items: center;
        display: flex;
    }

}

@media (max-width: 800px) {

    img{
        width: 80px;
        height: 80px;
        display: flex;
    }

    .top5 {
        width: 106px;
        height: 106px;
        background-color: darkgray;
        border-radius: 10px;
        justify-content:center;
        align-items: center;
        display: flex;
    }

}

@media (max-width: 600px) {

    img{
        width: 65px;
        height: 65px;
        display: flex;
    }

    .top5 {
        width: 90px;
        height: 90px;
        background-color: darkgray;
        border-radius: 10px;
        justify-content:center;
        align-items: center;
        display: flex;
    }

}